/*
    Date : 23/01/2022
    Author : Thibault Chenevière
    Discord : @Thibô#0001
    Email : thibault.cheneviere@telecomnancy.eu
*/

/* Start CSS for layout.html */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    min-height: 100vh;
}


.navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.alert {
    margin-top: 10px;
    width: 65%;
}

.navbar-custom {
    background-color: rgb(39, 35, 35);
    color: #fff;
}

.flex-container {
    display: flex;
    background-color: rgb(39, 35, 35);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    height: 56px;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    font-size: 20px;
    margin: 10px;
}

.head-footer {
    background-color: #fff;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    margin-top: 2.5vh;
}

.footer-custom {
    background-color: #fff;
}

/* End CSS for layout.html */