/*
    Author : Thibault Cheneviere
    Mail : thibault.cheneviere@telecomnancy.eu
    Date : 16/12/2021
*/
/* Start CSS for profile.html */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card {
    border: none;
    padding: 20px;
    margin-top: 10vh;
    width: 70vw;
    margin-left: 15vw;
}

.profile-container > img {
    width: 27vw;
    height: 27vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    float: left;
    border-radius: 15px;
}

.profile-container {
    width: 50vw;
    display: flex;
    gap: 5vw;  
}

.title-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.title-container > *{
    margin-bottom: 5vh;
}

.submit-button{
    align-self: baseline;
}

.border * {
    margin: 1%;
}

/* Start CSS for profile.html */