body{
    font-family: 'Titillium Web', sans-serif;
    background:#191B28;
  }
  
.roulette-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    margin:0 auto;
    overflow:hidden;
  }
  
.roulette-wrapper .selector{
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
  }
  
.roulette-wrapper .wheel{
    display:flex;
  }
  
.roulette-wrapper .wheel .roulette-row{
    display:flex;
  }
  
.roulette-wrapper .wheel .roulette-row .rcard{
    height:75px;
    width:75px;
    margin:3px;
    border-radius:8px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:1.5em;
  }
  
.rcard.red{
    background:#F95146;
  }
  
.rcard.black{
    background:#2D3035;
  }
  
.rcard.green{
    background:#00C74D;
  }

.row {
    margin: 0 -5px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
  }

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 16px;
  text-align: center;
  background-color: #F95146;
}

.green-btn {
  background-color: green;
  color: white;
}

.green-btn:hover {
  color: white;
  background-color: #00C74D;
}

.red-btn {
  background-color: red;
  color: white;
}

.red-btn:hover {
  color: white;
  background-color: rgb(192, 43, 43);
}

.black-btn {
  background-color: black;
  color: white;
}

.black-btn:hover {
  color: white;
  background-color: rgb(54, 54, 54);
}

.entries-header {
  margin-top: 5px;
}

.icon-players {
  float: left;
}

.total-money {
  float: right;
  color: white;
}

.icon {
  color: white;
}

.player-number {
  color: white;
}

.rounded-div {
  margin-top: 35px;
  border-top: 5px solid rgb(255, 255, 255);
  border-radius: 5px;
}
  
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


*{
    box-sizing:border-box;
  }
  