<!--
    Date : 5/01/2022
    Author : Thibault Chenevière
    Discord : @Thibô#0001
    Email : thibault.cheneviere@telecomnancy.eu
-->

{% extends 'layout.html' %}

{% block header %}
    <!-- CSS dependencies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}">
    
    <!-- Page title -->
    <title>Se connecter</title>
{% endblock header %}

{% block container %}
    <form action="{{ url_for('loginBP.loginBP_login') }}" method="POST">
        <div class="container mt-5 mb-5 height">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-6">
                    <div class="card px-5 py-5">
                        <div class="title">
                            <h1>Connexion</h1>
                        </div>
                        <div class="form-input">
                            <i class="fa fa-user"></i> 
                            <input type="text" class="form-control" placeholder="Username" name="identifier" id="identifierInput" required>
                        </div>
                        <div class="form-input">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" placeholder="Mot de passe" name="password" id="pwdInput" required>
                        </div>
                        <button class="btn btn-danger mt-4 signup">Connexion</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock container %}