<!--
    Date : 23/01/2022
    Author : Thibault Chenevière
    Discord : @Thibô#0001
    Email : thibault.cheneviere@telecomnancy.eu
-->

{% extends 'layout.html' %}

{% block header %}
    <!-- CSS dependancies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/roulette.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% endblock header %}

{% block container %}
    <div class='roulette-wrapper'>
        <div class='selector'></div>
        <div class='wheel'></div>
    </div>
    <form action="">
        {% if userId %}
            <div id="userId" style="display: none;">
                {{ userId }}
            </div>
        {% endif %}
        <div class="amount-selection">
            <div class="roulette-control">
                <input type="text" placeholder="Entrez votre somme" >
            </div>
            <div class="roulette-buttons">
                <button class="bet-btn"> +5$ </button>
                <button class="bet-btn"> +10$ </button>
                <button class="bet-btn"> +25$ </button>
                <button class="bet-btn"> +100$ </button>
                <button class="bet-btn"> 1/2 </button>
                <button class="bet-btn"> x2 </button>
                <button class="bet-btn"> Maximum </button>
            </div>
            <div class="row entries">
                <div class="column red">
                    <div class="card">
                        <p> Profit potentiel : </p>
                        <button id="bet-button-red" class="column-btn btn red-btn"> 1 à 7 </button>
                        <div class="entries-header">
                            <div class="icon-players">
                                <i class="icon fas fa-users"></i>
                                <span class="player-number"> 0 </span>
                            </div>
                            <div class="total-money">
                                $0
                            </div>
                            <hr class="rounded-div">
                        </div>
                        <div id="players-name-red" class="players-name players-name-red">

                        </div>
                    </div>
                </div>
                <div class="column green">
                    <div class="card">
                        <p> Profit potentiel : </p>
                        <button id="bet-button-green" class="column-btn btn green-btn"> 0 </button>
                        <div class="entries-header">
                            <div class="icon-players">
                                <i class="icon fas fa-users"></i>
                                <span class="player-number"> 0 </span>
                            </div>
                            <div class="total-money">
                                $0
                            </div>
                            <hr class="rounded-div">
                        </div>
                        <div id="players-name-green" class="players-name players-name-green">

                        </div>
                    </div>
                </div>
                <div class="column black">
                    <div class="card">
                        <p> Profit potentiel : </p>
                        <button id="bet-button-black" class="column-btn btn black-btn"> 8 à 14 </button>
                        <div class="entries-header">
                            <div class="icon-players">
                                <i class="icon fas fa-users"></i>
                                <span class="player-number"> 0 </span>
                            </div>
                            <div class="total-money">
                                $0
                            </div>
                            <hr class="rounded-div">
                        </div>
                        <div id="players-name-black" class="players-name players-name-black">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/static/js/rouletteRoll.js"></script>
    <script src="/static/js/rouletteBet.js"></script>
{% endblock container %}
