<!--
    Date : 30/01/2022
    Author : Thibault Chenevière
    Discord : @Thibô#0001
    Email : thibault.cheneviere@telecomnancy.eu
-->

{% extends 'layout.html' %}

{% block header %}
    <!-- Signup Validation Script -->
    <script src="/static/js/signupFormValidation.js"></script>
{% endblock header %}

{% block container %}
    <!-- CSS dependancies -->
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/signup.css') }}">
    
    
    <!-- Script dependancies -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>


    <form action="{{ url_for('loginBP.loginBP_signup') }}" method="POST" onsubmit="return validateForm()">
        <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card px-5 py-5">
                        <div class="form-input">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" placeholder="Username" name="username" id="firstNameInput" required>
                        </div>
                        <div class="form-input">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" placeholder="Mot de passe" name="password" id="pwdInput" required>
                        </div>
                        <div class="form-input">
                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control validate" placeholder="Confirmation de mot de passe" name="confirmationPassword" id="pwdConfirmInput" required>
                        </div>
                        <input class="btn btn-primary mt-4 Signup" value="Signup" type="submit" id="btnSubmit">
                        <div class="text-center mt-4">
                            <span>Etes vous déjà membre ?</span>
                            <a href="/login" class="text-decoration-none">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock container %}